.page-header= "#{@list.title}"
.page-subheader= "#{@list.user.name}'s List"
.page-text
  = @list.blurb
-if @items
  .wall
    - @items.each_with_index do |item, i|
      - if i == 0
        = render partial: 'items/brick_large', locals: {item: item}
      - else
        = render partial: 'items/brick_small', locals: {item: item}
- if policy(@list).edit?
  .row
    .col-md-6
      .page-header Add an Item
      = form_for Item.new, :url => {action: :create, controller: :items,list_id: @list.id} do |f|
        .form-group
          = f.label :title, class: 'form-label'
          = f.text_field :title, class: 'form-control'
        .form-group
          = f.label :media_type, 'Type', class: 'form-label'
          = f.text_field :media_type, class: 'form-control'
        .form-group
          = f.label :link, class: 'form-label'
          = f.url_field :link, class: 'form-control'
        .form-group
          = f.label :creator, class: 'form-label'
          = f.text_field :creator, class: 'form-control'
        .form-group
          = f.label :creator_link, class: 'form-label'
          = f.url_field :creator_link, class: 'form-control'
        .form-group
          = f.label :finished_on, 'Date Completed', class: 'form-label'
          = f.date_field :finished_on, class: 'form-control'
          .checkbox
            = f.label :finished do
              = f.check_box :finished
              Finished?
        .form-group
          = f.label :blurb, class: 'form-label'
          = f.text_area :blurb, rows: 5, class: 'form-control'
        .form-group
          = f.submit 'Save', class: 'btn btn-lg btn-success'
    .col-md-6
      .page-header#search Search for Items
      = form_tag list_path(@list, :anchor => 'search'), method: 'get' do 
        = label_tag(:search)
        .input-group.input-group-md
          %input.form-control{:placeholder => "Search items...", :type => "text", :name => "search"}
          %span.input-group-btn
            %button.search-icon-button{:type => "submit"}
              = fa_icon "search"
      - if @found_items && @found_items.count > 0
        - @found_items.each do |found_item|
          = render partial: 'items/found_item', locals: {item: found_item, list: @list}