.brick.brick-large
  .item-panel.found-item-panel
    .panel-title= item.title
    .panel-text= item.media_type
    - if item.creator
      .panel-text
        - if  item.creator_link
          = link_to "By #{item.creator}", item.creator_link
        - else
          = "By #{item.creator}"
    = form_for Listing.new do |f|
      = f.hidden_field :item_id, :value => item.id
      = f.hidden_field :list_id, :value => list.id
      = f.submit "Add", class: 'add-to-list-button'