.item-panel
  .row
    .col-sm-2
      .panel-checkbox
        -if item.finished?
          = fa_icon "check-square-o"
        - else
          = fa_icon "square-o"
    .col-sm-8
      .panel-title= title_as_link(item)
      .panel-text= item.media_type
      .panel-text= item.finished_on_to_s
      .panel-text= item.user.name
    .col-sm-1
      .panel-link= link_to 'View', item_path(item)
    .col-sm-1
      .panel-link= link_to 'Edit', edit_item_path(item)