.page-header= "#{@item.title}, #{@item.media_type}"
.view-item
  .row
    .col-sm-2
      .panel-checkbox
        -if @item.finished?
          = fa_icon "check-square-o"
        - else
          = fa_icon "square-o"
    .col-sm-8
      - if @item.creator
        .panel-text
          - if @item.creator_link
            = link_to "Created by #{@item.creator}", @item.creator_link
          - else
            = "Created by #{@item.creator}"
      .panel-title
        - if @item.link
          = link_to @item.link, @item.link
      .panel-text= @item.media_type
      .panel-text= @item.finished_on_to_s
      .panel-text= link_to "Listed by #{@item.user.name}", user_path(@item.user)
    .col-sm-2
      .panel-link= link_to 'Edit', edit_item_path(@item)
  .row
    .col-sm-12
      .panel-blurb= @item.blurb