!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Jiv
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        %header
          = link_to "Jiv", root_path
        %nav
          - if current_user
            %li
              Welcome 
              = link_to current_user.name, user_path(current_user)
              |
              = link_to "Sign Out", signout_path
          - else
            %li= link_to "Sign in with Twitter", "/auth/twitter"
          %li
            = link_to 'Items', items_path
            |
            = link_to 'New Item', new_item_path
      = yield